<div class="container d-flex justify-content-center my-3">
  <div class="card p-3">
    <div class="card-image d-flex justify-content-center">
      <img src="/assets/img/403_2.png" style="height:300px;width:350px;">
    </div>
    <div class="card-content">
      <div class="row my-2">
        <div class="col-12 text-center" style="color: #039be5; font-size: 2rem;">403 - Acceso Denegado
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12" style="font-size: 1rem;">No tienes permiso para poder acceder a este contenido
        </div>
      </div>
      <div class="row justify-content-center mt-4 mb-2">
          <div class="col-8">
            <a [routerLink] (click)="onRegresar()" class="btn btn-info btn-block text-white"><i class="fas fa-arrow-left"></i> Regresar</a>
          </div>
        </div>
    </div>
  </div>
</div>