<div class="container d-flex justify-content-center my-3">
  <div class="card p-3">
    <div class="card-image d-flex justify-content-center">
      <img src="/assets/img/error.png" style="height:300px;width:350px;">
    </div>
    <div class="card-content">
      <div class="row my-2">
        <div class="col-12 text-center" style="color: red; font-size: 2rem;">Oops!!
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12" style="font-size: 1rem;">Ha ocurrido un error, Por favor inténtalo de nuevo mas tarde.
        </div>
      </div>
  </div>
</div>